@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.father{
    background-color:  #e9e9e8;
    border: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.father h3{
    margin-bottom: 3vw;
    font-size: 4vw;
}
.father input{
    height: 4vh;
    border: 0.1vw solid #e0e1e2;
    border-radius: 2vw;
    color: rgb(0, 0, 0);
    padding: 4vw;
    font-size: 4vw;
}
.father input:focus{
	outline: 0;
	border: 0;
}	
.father button{
    border-radius: 10vw;
    background-color: rgb(36,192,181);
    font-size: 4vw;
    border: 0;
    margin: 1.5vw 0
}

.fatherBoxCargar{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	background-color: #0000009a;
}
.contenedor{
	width: 70vw;
	height: 30vw;
	background-color: rgb(255, 255, 255);
	flex-direction: column;
	display:flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 2vw;
}
.contenedor h3 {
	color: #181818;
	font-weight: 600;
	font-size: 4.6vw;
}   
.spinner{
	-webkit-animation: rotate 3s linear infinite;
	animation: rotate 3s linear infinite;
	width: 10vw;
	height: 10vw;
}
.spinner .path {
	stroke: #24c0b5;
	stroke-linecap: round;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
}  
@keyframes rotate {
	100% {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }
@keyframes dash {
	0% {
	    stroke-dasharray: 1, 150;
	    stroke-dashoffset: 0;
	}
	50% {
	    stroke-dasharray: 90, 150;
	    stroke-dashoffset: -35;
	}
	100% {
	    stroke-dasharray: 90, 150;
	    stroke-dashoffset: -124;
	}
}
.btnopt{
    width: 87vw;
    height: 14.5vw;
    padding-left: 3vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
}
.btnopt div{
    width: 10vw;
    height: 10vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 9vw;
    margin-right: 2vw;
    background-color: transparent;
}
.btnopt h3{
	color: rgb(34,45,65);
	font-size: 3.6vw;
	width: 49vw;
	font-weight: 600;
	text-align: left;
} 