@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.father{
    background-color: rgba(0, 0, 0, 0.38);
    position: absolute;
    height: 10%;
    top: 0;
    width: 100%;
    height: 100%;
}
.alert {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100vw;
    background-color: #ffffff;
    flex-direction: column;
    border-radius: 4vw;
    border-end-end-radius: 0vw;
    border-end-start-radius: 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
	animation: subir 1s forwards;
}
@keyframes subir {
    from {
        bottom: -100vh; /* Estado inicial, fuera de la pantalla */
    }
    to {
        bottom: 0; /* Estado final, en la parte inferior de la pantalla */
    }
}
.alert img{
    margin-top: 8vw;
    margin-bottom: 2vw;
    width: 14vw;
    height: 14vw;
}
.datos{
    background-color: rgb(249, 249, 249);
    border-radius: 2vw;
    margin-top: 4vw;
    margin-bottom: 7vw;
    width: 86vw;
    padding: 4vw 5vw;
}
.datos div{
    display: flex;
    justify-content: space-between;
}
.datos h3{
    color: rgb(109 109 109);
    font-size: 4.2vw;
    font-weight: 400;
}
.btn{
    width: 86vw;
    color: rgb(36,192,181);
    border-radius: 2vw;
    text-align: center;
    padding: 3.3vw 0;
    font-size: 4vw;
    font-weight: 600;
    background-color: transparent;
}