@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.father{
    background-color: rgb(255, 255, 255);
    border: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.head{
    height: 15vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
}
.head div{
    width: 16vw;
    height: 15vw;
    background-image: url(/assets/cerrar-g-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4vw;
    background-color: transparent;
}
.head h3{
    width: 76vw;
    height: 15vw;
    color: rgb(33, 46, 65);
    text-align: left;
    font-weight: 600;
    font-size: 5.5vw;
    display: flex;
    align-items: center;
}
.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.numero{
    outline: 0;
    border: 0;
}
.numero{
    text-align: center;
    color: rgb(116,34,132);
    font-weight: 600;
    font-size: 5vw;
    margin: 3vw 0 1vw 0;
}
.datos div{
    width: 90vw;
    height: 18vw;
    color: rgb(209,209,209);
    background-color: rgb(255, 255, 255);
    border: 0.5vw solid rgb(235,235,235);
    border-radius: 2vw;
    margin-top: 4.2vw;
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: 0 1px 2px rgba(238, 238, 238, 0.701);
}
.datos img{
    width: 10vw;
    height: 10vw;
    margin: 3vw 4vw;
    border-radius: 50%;
}
.datos h3{
    font-size: 4.3vw;
    font-weight: 600;
    width: 58vw;
    text-align: left;
    color: #212e41;
}