@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.father{
    background-color: rgb(255, 255, 255);
    border: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto
}
.head{
    height: 15vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
}
.head div{
    width: 16vw;
    height: 15vw;
    background-image: url(/assets/cerrar-g-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4vw;
    background-color: transparent;
}
.head h3{
    width: 76vw;
    height: 15vw;
    color: rgb(33, 46, 65);
    text-align: left;
    font-weight: 600;
    font-size: 5.5vw;
    display: flex;
    align-items: center;
}
.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-datos{
    width: 90vw;
    height: 18vw;
    color: rgb(209,209,209);
    background-color: rgb(255, 255, 255);
    border: 0.5vw solid rgb(235,235,235);
    border-radius: 2vw;
    margin: 2.5vw 0;
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: 0 1px 2px rgba(238, 238, 238, 0.701);
}
.datos img{
    width: 10vw;
    height: 10vw;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: center;
    border-radius: 100px;
    margin-left: 3vw;
}
.datos h3{
    width: 65vw;
    font-size: 4.2vw;
    font-weight: 600;
    text-align: left;
    color: rgb(0, 0, 0);
}
.margin-l{
    margin-left: 4vw;
}
.noYape div{
    width: 44%;
    height: 72%;
    color: rgb(209, 209, 209);
    background-color: transparent;
    border: 0;
    border-radius: 0;
    margin: 0;
    justify-content: space-evenly;
    box-shadow: none;
}
.noYape h3{
    width: 100%;
}

/*/*/


.father-alert{
    background-color: rgba(0, 0, 0, 0.38);
    position: absolute;
    height: 10%;
    top: 0;
    width: 100%;
    height: 100%;
}
.alert {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100vw;
    background-color: #ffffff;
    flex-direction: column;
    border-radius: 4vw;
    border-end-end-radius: 0vw;
    border-end-start-radius: 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
	animation: subir 1s forwards;
}
@keyframes subir {
    from {
        bottom: -100vh; /* Estado inicial, fuera de la pantalla */
    }
    to {
        bottom: 0; /* Estado final, en la parte inferior de la pantalla */
    }
}
.alert img{
    margin-top: 8vw;
    margin-bottom: 2vw;
    width: 14vw;
    height: 14vw;
}
.datos-alerta{
    background-color: rgb(249, 249, 249);
    border-radius: 2vw;
    margin-top: 4vw;
    margin-bottom: 7vw;
    width: 86vw;
    padding: 4vw 5vw;
}
.datos-alerta div{
    display: flex;
    justify-content: space-between;
}
.datos-alerta h3{
    color: rgb(109 109 109);
    font-size: 4.2vw;
    font-weight: 400;
}
.btn-alerta{
    width: 86vw;
    color: rgb(36,192,181);
    border-radius: 2vw;
    text-align: center;
    padding: 3.3vw 0;
    font-size: 4vw;
    font-weight: 600;
    background-color: transparent;
}