<div class="father">
    <div class="head">
        <div (click)="router.navigate(['/home'])" style="
            background-image: url(/assets/atras-icon.svg);
            background-size: 2.8vw;"></div>
        <h3>Pagar servicios</h3>
        <div (click)="router.navigate(['/home'])"></div>
    </div>
    <div class="flex flex-column align-items-center">
        <div
    class="flex justify-content-center flex-column"
    style="width: 90%; padding: 1vh; box-sizing: border-box">
            <h3 class="mt-0" style="color: black">Empresa</h3>
            <input (input)="onChangeNombre($event)" class="titular" placeholder="Claro" type="text" style="height: 5vh;" [value]="nombre"/>
            
            <h3 style="color: black">Monto</h3>
            <input (input)="onChangeMonto($event)" class="monto" placeholder="500" type="number" style="height: 5vh;" (input)="actualizarBotones()" [value]="monto"/>

            <h3 style="color: black">Servicio</h3>
            <input (input)="onChangeServicio($event)" class="titular" placeholder="Línea postpago" type="text" style="height: 5vh;" [value]="servicio"/>

            <h3 style="color: black">Código de cliente</h3>
            <input (input)="onChangeCodigo($event)" class="titular" placeholder="999888777" type="text" style="height: 5vh;" [value]="codigoCliente"/>

            <h3 style="color: black">Titular</h3>
            <input (input)="onChangeTitular($event)" class="titular" placeholder="Sebas Rodriguez" type="text" style="height: 5vh;" [value]="titular"/>
            
        </div>
        <div class="footer">
            <div class="btn">
                <button (click)="yapeoComponent(monto)" [disabled]="!botonesHabilitados" class="yapear">Yapear</button>
            </div>
        </div>
    </div>
</div>
<app-preload *ngIf="mostrarPreload" palabra="Yapeando..."></app-preload>