@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.father{
    background: linear-gradient(#4a1972, 30%, #752285);
    border: 0;
    padding: 0;
    overflow: auto;
    margin: 0;
    padding: 2vh;
    height: 100vh;
    width: 100vw;
}
.animation{
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 36.82vw;
    background-size: 22vw;
    background-position: center;
    background-repeat: no-repeat;
}

// .animation-serpentina {
//     position: absolute;
//     width: 100vw;
//     height: 100%;
//     top: 0;
//     background-image: url(/assets/NewAnimation.gif);
//     background-repeat: no-repeat;
//     background-size: 100vw;
//     pointer-events: none;
// }
.animation-serpentina {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    pointer-events: none;
    z-index: 9999;
}

// #lottie-container {
//     width: 100%;
//     height: 100%;
// }
.color-border{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
}
.color-border div{
    background-color: rgb(116, 34, 132);
    width: 12vw;
    height: 63vh;
}
.border, .bordernv{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: center;
    background-image: url(/assets/bordern.svg);
    height: 3vw;
}
.border{
    transform: translateY(2px);
}
.bordernv{
    transform: translateY(-2px) rotate(180deg);
}
.yapeaste{
    font-size: 6.2vw;
    color: rgb(114,32,130);
    font-weight: 500;
    text-align: left;
}
.monto{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
.monto label{
    width: 100%;
    font-size: 7.5vw;
    font-weight: 500;
    text-align: left;
    color: #3f3359;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.monto span{
    font-size: 13vw;
    line-height: 13vw;
}
.nombre{
    font-size: 5.5vw;
    color: rgb(33,46,65);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: .5vw;
}
.paraFecha{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2.5vw 0 4vw 0;
}
.paraFecha img{
    width: 4vw;
    height: 4vw;
    object-fit: contain;
    margin-right: 1.5vw;
}
.fecha{
    font-size: 4.3vw;
    font-weight: 500;
    color: rgb(109, 109, 109);
    text-align: left;
}
.codSecurity {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 0;
    border-top: 0.3vw solid rgb(240, 240, 240);
    border-bottom: 0.3vw solid rgb(240, 240, 240);
}
.paraBorder{
    margin: 3vw 0;
    border-top: 0.3vw solid rgb(240, 240, 240);
}
.codP1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.codP1 h3{
    font-size: 3vw;
    font-weight: 600;
    color: #726f7e;
}
.codP1 img{
    width: 5vw;
    height: 5vw;
    margin-left: 2vw;
}
.codP2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.codP2 div{
    width: 6vw;
    height: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edecf4;
    border-radius: 1vw;
    padding: 1vw;
    margin: 0 .5vw;
}
.codP2 h3{
    font-size: 4.5vw;
    font-weight: 500;
    color: #191120;
}
.transacc{
    padding: 4vw 0 3vw 0;
    // margin: 1vw 0;
}
.datosts div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 0;
}
.datosts h3{
    color: #231b3a;
    font-weight: 400;
    font-size: 3.9vw;
}
.info{
    font-size: 3.75vw;
    font-weight: 400;
    text-align: center;
    color: rgb(150, 150, 151);
}
.paraServicios{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 54vw;
    margin-top: 2vw;
}
.noServicios{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.serviciosBanner{
    height: 40vw;
    width: 90%;
    border-radius: 4vw;
    margin-top: 7vw;
    background-image: url(/assets/bnn-y-1.jpg);
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: center;
}
.enviarProveedor{
    width: 90%;
    background-color: #0000002b;
    border-radius: 4vw;
    padding: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.enviarProveedor img{
     width: 5vw;
     height: 5vw;
     object-fit: contain;
}
.enviarProveedor span{
    font-size: 3.8vw;
    color: #fff;
}
.botones{
    width: 90%;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    background-color: rgb(36, 192, 181);
}
.botones img{
    width: 10.2vw;
    height: 10.2vw;
    padding: 2vw;
    color: rgb(255,255,255);
}
.botones span{
    color: rgb(255, 255, 255);
    font-size: 3.6vw;
    font-weight: 500;
}
.imgtop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 36.82vw;
    display: block;
    background-image: url(/assets/YapePeru.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    opacity: 0.9;
    margin-bottom: 2vw;
}

.imgescudo{
    height: 35vw;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(/assets/escudoseleccion.svg);
    background-repeat: no-repeat;
    background-position: center 11vw;
    background-size: 23vw;
}
.justifyitems {
    justify-items: center;
    display: grid;
}
.freditionlimited {
    margin-top: 5vw;
    width: 38vw;
    /* height: 7.5vw; */
    display: flex;
    background-color: #E7BC49;
    border-radius: 1.2vw;
    animation: bg-move linear 25s infinite;
    background-image: linear-gradient(270deg, rgba(100, 181, 239, 0) 30%, #E2C67F 50%, #daa726b9 80%, rgba(100, 181, 239, 0) 100%);
    justify-content: space-evenly;
    align-items: center;
}
  
  @keyframes bg-move {
	0% {
		background-position: -500vw 0;
	}
	
	100% {
		background-position: 10vw 0;
	}
  }
.logoedition{
	background-image: url(/assets/logoedition.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8vw;
    width: 10vw;
    height: 6vw;
}
.freditionlimited h3{
	color: #3E0E42;
    font-size: 3.4vw;
    font-weight: 600;
    text-align: left;
    width: 25vw;
}
.alert{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	background-color: #0000009a;
}
.contenedor{
	width: 70vw;
	height: 30vw;
	background-color: rgb(255, 255, 255);
	flex-direction: column;
	display:flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 1vw;
}
.contenedor h3 {
	color: #181818;
	font-weight: 600;
	font-size: 4.4vw;
    text-align: center;
}   
.spinner{
	-webkit-animation: rotate 3s linear infinite;
	animation: rotate 3s linear infinite;
	width: 10vw;
	height: 10vw;
}
.spinner .path {
	stroke: #24c0b5;
	stroke-linecap: round;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
}  
@keyframes rotate {
	100% {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }
@keyframes dash {
	0% {
	    stroke-dasharray: 1, 150;
	    stroke-dashoffset: 0;
	}
	50% {
	    stroke-dasharray: 90, 150;
	    stroke-dashoffset: -35;
	}
	100% {
	    stroke-dasharray: 90, 150;
	    stroke-dashoffset: -124;
	}
}
.inicioCom{
    background-color: #ffffff26;
    background-image: url(/assets/equis1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4.5vw;
    border-radius: 50%;
    width: 9vw;
    height: 9vw;
    padding: 6vw;
    margin: 2vw;
    position: absolute;
    top: 0;
    right: 0;
}
.paraMensaje{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(to right, #fcf1ff, #edf7fc);
    border-radius: 2.5vw;
    padding: 3vw 4vw;
    margin: 2vw 0;
}
.paraMensaje img{
    width: 5vw;
    height: 5vw;
    object-fit: contain;
    margin-right: 2.5vw;
}