@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.father{
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.cuadro{
    position: relative;
    width: 40vw;
    height: 40vw;
    border-radius: 2.5vw;
    background-color: green;
    overflow: hidden;
}