.father{
    background-color:  #e9e9e8;
    border: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.info-text{
    width: 100%;
    height: 7vh;
    border-radius: 0 0 4vw 4vw;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #5e17eb;
}
.info-text div{
    height: 7vh;
    width: 7vh;
    background-image: url(/assets/iconicsnew/atras-cuenta.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.info-text span{
    width: calc(100% - 14vh);
    text-align: center;
    color: #fff;
    font-size: 6vw;
    font-weight: 600;
}
.datos h3{
    margin-bottom: 3vw;
    font-size: 4vw;
}
.datos input{
    height: 5vh;
    border: 0.1vw solid #e0e1e2;
    border-radius: 2vw;
    color: rgb(0, 0, 0);
    padding: 4vw;
    font-size: 4vw;
}
button{
    height: 5.5vh; 
    width: 60vw;
    background-color: #5e17eb;
    border-radius: 2vw;
    color: rgb(255, 255, 255);
    border: 0;
    font-size: 4vw;
    font-weight: 600;
    margin: 4vw 0;
}
button:disabled{
    background-color: #979797;
    color: rgb(255, 255, 255);   
}
.fatherBoxCargar{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	background-color: #0000009a;
}
.contenedor{
	width: 80vw;
	height: 35vw;
	background-color: rgb(255, 255, 255);
	flex-direction: column;
	display:flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 2vw;
}
.contenedor h3 {
	color: #181818;
	font-weight: 600;
	font-size: 4.6vw;
}
.contenedor span{
    padding: 1.5vw 6vw; 
    border-radius: 2vw; 
    color: #fff;
    background-color: #5e17eb;
}