@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.father{
    background-color: rgb(255, 255, 255);
    border: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    border-radius: 5vw 5vw 0 0;
}
.head{
    height: 15vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
}
.head div{
    width: 16vw;
    height: 15vw;
    background-image: url(/assets/cerrar-g-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4vw;
    background-color: transparent;
}
.head h3{
    width: 76vw;
    height: 15vw;
    color: rgb(33, 46, 65);
    text-align: left;
    font-weight: 600;
    font-size: 5vw;
    display: flex;
    align-items: center;
}
.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.freditionlimited {
    width: 60%;
    height: 7vw;
    display: flex;
    background-color: #c0c0c0;
    border-radius: 1.2vw;
    animation: bg-move linear 25s infinite;
    background-image: linear-gradient(270deg, rgba(100, 181, 239, 0) 0%, #e0e0e0 50%, #c0c0c0 80%, rgba(100, 181, 239, 0) 100%);
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3vw;
}

@keyframes bg-move {
    0% {
        background-position: -500vw 0;
    }

    100% {
        background-position: 10vw 0;
    }
}
.nombre, .numero{
    outline: 0;
    border: 0;
}
.nombre{
    width: 100%;
    background-color: transparent;
    text-align: center;
    color: rgb(116,34,132);
    font-weight: 600;
    font-size: 5vw;
    margin-top: 3vw;
      white-space: normal;     /* permite salto de línea */
  overflow: visible;
  word-break: break-word;
}
.numero{
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgb(128, 128, 128);
    font-weight: 600;
    font-size: 3.9vw;
    width: 40vw;
    margin-top: 8vw;
}
.monto{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25vw;
}
.monto span{
    font-size: 6.5vw;
    font-weight: 600;
    text-align: right;
    color: rgb(199, 167, 206);
}
.monto input{
    width: 10.6vw;
    height: 18.5vw;
    color: rgb(114,32,130);
    text-align: left;
    font-size: 19.44vw;
    font-weight: 400;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
}
.monto input::-webkit-outer-spin-button,
.monto input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.monto input::placeholder{
	color: rgb(114,32,130);
	font-size: 19.44vw;
	font-weight: 400;
}
.monto input:focus, .monto input:active{
	outline: 0;
	border: 0;
}
.anot{
    height: 6.2vw;
    color: rgb(109,109,109);
    background-color: rgb(248,248,252);
    border-radius: 50vw;
    font-size: 3.25vw;
    text-align: center;
    padding: 1vw 1.5vw 0vw 1.5vw;
    margin-top: 6.38vw;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 31vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer input{
    width: 90vw;
    height: 12vw;
    color: rgb(39,45,59);
    text-align: center;
    font-size: 3.89vw;
    font-weight: 500;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    border-bottom: 0.6vw solid rgb(209,209,209);
}
.footer input::placeholder{
	color: rgb(170,170,170);
	font-size: 3.89vw;
	font-weight: 500;
}
.footer input:focus, .footer input:active{
	outline: 0;
	border: 0;
	border-bottom: 0.6vw solid rgb(176, 78, 206);
}
.btn{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-top: 3.6vw;
}
.btn button{
    width: 42vw;
    padding-top: 3vw;
	padding-bottom: 3.45vw;
	font-size: 4vw;
	font-weight: 500;
    border-radius: 2.6vw;
    text-align: center;
}
.bancos{
	color: rgb(36,192,181);
	background-color: rgb(255,255,255);
	border: 0.5vw solid rgb(36,192,181);  
}
.bancos:disabled, .yapear:disabled{
	background-color: rgb(255, 255, 255);
	color: rgb(209,209,209);
	border: 0.5vw solid rgb(209,209,209);
}
.bancos:active{
	background-color: rgb(255,255,255);
}
.bancos:not(:disabled):active {
	background-color: rgb(255,255,255);
}
.yapear{
	color: rgb(255,255,255);
	background-color: rgb(36,192,181);
	border: 0.5vw solid rgb(36,192,181);
}
.yapear:active{
	background-color: rgb(0,166,146);
}
.yapear:not(:disabled):active {
	background-color: rgb(0,166,146);
}
.yapearWF{
    width: 100% !important
}

.limite-yapeo-wrap {
  position: relative;
  display: inline-block; // o block si ocupa toda la fila
}

.limite-yapeo-hit {
  position: absolute;
  inset: -6px;          // agranda el área tocable
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0;           // invisible
  z-index: 5;
}

.nombre, .nombre-mostrar, h3.nombre-mostrar {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: unset !important;
  word-break: break-word;
}

/* y al contenedor del nombre (muy importante) */
.nombre-wrapper, .datos, .alert, .head {
  overflow: visible !important;
  height: auto !important;
}

.nombre-textarea{
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  resize: none;
  text-align: center;
  line-height: 1.15;
  overflow: hidden;       // se ve limpio
}