@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.father{
    background-color: rgb(255, 255, 255);
    border: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.head{
    height: 15vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
}
.head div{
    width: 16vw;
    height: 15vw;
    background-image: url(/assets/cerrar-g-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4vw;
    background-color: transparent;
}
.head h3{
    width: 76vw;
    height: 15vw;
    color: rgb(33, 46, 65);
    text-align: left;
    font-weight: 600;
    font-size: 5.5vw;
    display: flex;
    align-items: center;
}
.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nombre, .numero{
    outline: 0;
    border: 0;
}
.nombre{
    text-align: center;
    color: rgb(116,34,132);
    font-weight: 600;
    font-size: 5vw;
    margin: 3vw 0 1vw 0;
}
.numero{
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgb(128, 128, 128);
    font-weight: 600;
    font-size: 3.9vw;
    width: 40vw;
    margin-top: 1vw;
}
.monto{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 45vw;
}
.monto span{
    font-size: 6.5vw;
    font-weight: 600;
    text-align: right;
    color: rgb(199, 167, 206);
}
.monto input{
    width: 10.6vw;
    height: 18.5vw;
    color: rgb(114,32,130);
    text-align: left;
    font-size: 19.44vw;
    font-weight: 400;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
}
.monto input::-webkit-outer-spin-button,
.monto input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.monto input::placeholder{
	color: rgb(114,32,130);
	font-size: 19.44vw;
	font-weight: 400;
}
.monto input:focus, .monto input:active{
	outline: 0;
	border: 0;
}
.anot{
    width: 55vw;
    height: 6.2vw;
    color: rgb(109,109,109);
    background-color: rgb(248,248,252);
    border-radius: 50vw;
    font-size: 3.25vw;
    text-align: center;
    padding: 1vw 1vw 0vw 1vw;
    margin-top: 6.38vw;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding-bottom: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-top: 3.6vw;
}
.btn button{
    width: 90vw;
    padding-top: 3vw;
	padding-bottom: 3.45vw;
	font-size: 4vw;
	font-weight: 500;
    border-radius: 2.6vw;
    text-align: center;
}
.bancos{
	color: rgb(36,192,181);
	background-color: rgb(255,255,255);
	border: 0.5vw solid rgb(36,192,181);  
}
.bancos:disabled, .yapear:disabled{
	background-color: rgb(255, 255, 255);
	color: rgb(209,209,209);
	border: 0.5vw solid rgb(209,209,209);
}
.bancos:active{
	background-color: rgb(255,255,255);
}
.bancos:not(:disabled):active {
	background-color: rgb(255,255,255);
}
.yapear{
	color: rgb(255,255,255);
	background-color: rgb(36,192,181);
	border: 0.5vw solid rgb(36,192,181);
}
.yapear:active{
	background-color: rgb(0,166,146);
}
.yapear:not(:disabled):active {
	background-color: rgb(0,166,146);
}