<div class="father">
    <h2>Terminos y Condiciones</h2>
    <h3>Está prohibido:</h3>
    <p>El uso del aplicativo para transmisiones en vivo.</p>
    <p>Estafas vendiendo y mostrando el aplicativo.</p>
    <p style="margin: 2vh 0;">En caso de no cumplir con lo establecido, será consecuencia de eliminación del acceso sin reclamo alguno.</p>
    <p style="margin: 2vh 0;">Al usar o haber comprado el aplicativo, aceptaste haber leído los términos y condiciones puestos en la misma app, mostrándose en Perfil > Términos y condiciones, en caso no haya sido así, no nos hacemos cargo de no leer términos importantes para cualquier actividad y/o contrato.</p>
</div>