
.father{
    background: #fff;
    border: 0;
    padding: 0;
    overflow: auto;
    margin: 0;
    padding: 2vh;
    height: 100vh;
    width: 100vw;
}
h2{
    font-size: 3vh;
}
h3{
    font-size: 2.5vh;
    margin-top: 2vh;
}
p{
    margin: 1vh;
    font-size: 2.5vh;
}