@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.father{
    background-color: rgb(0, 0, 0);
    border: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.close{
    width: 4vw;
    height: 4vw;
    background-image: url(/assets/cerrar-w-icon.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 4vw;
    background-position: center;
    position: absolute;
    top: 3vh;
    right: 3vh;
}
.camera{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.cuadrocamera{
    position: relative;
    width: 40vw;
    height: 40vw;
    border-radius: 2.5vw;
    background-color: green;
    overflow: hidden;
}
.line{
    position: absolute;
    width: 40vw;
    height: 2px;
    background-color: rgba(201, 174, 202, 255);
    animation: movim 5s linear infinite;
}
@keyframes movim {
    0% {
        top: 0;
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }    
    50%{
        top: 100%;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    100% {
        top: 0;
        opacity: 0;
    }
}
.camera span{
    font-size: 3.5vw;
    color: rgb(255, 255, 255);
    margin-top: 18vw;
}
.linterna{
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(255, 255, 255);
    padding: 1.5vw 4vw;
    border-radius: 2vw;
    font-size: 4vw;
    margin-top: 7vw;
}
.footer{
    width: 100vw;  
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    background-color: #ffffff;
    border-radius: 4vw 4vw 0 0;
    padding: 6vw 0;
}
.qrfoption{
	width: 90vw;
	height: 16vw;
    font-weight: 600; 
    font-size: 3.6vw;
	color: #742284;
    display: flex;
    align-items: center;
	background-color: transparent;
    border-radius: 1.94vw;
	box-shadow: 0 0.5vw 1.2vw 0.2vw rgb(203 203 203);
}
.btnopt{
    width: 87vw;
    height: 14.5vw;
    padding-left: 3vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
}
.btnopt div{
    width: 10vw;
    height: 10vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 9vw;
    margin-right: 2vw;
    background-color: transparent;
}
.btnopt h3{
	color: rgb(34,45,65);
	font-size: 3.6vw;
	width: 49vw;
	font-weight: 600;
	text-align: left;
} 
.btn{
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(255, 255, 255);
    padding: 1.5vw 4vw;
    border-radius: 2vw;
    font-size: 4vw;
    margin-top: 7vw;
}