.icaja{
    color: rgb(255, 255, 255);
    border: 0.3vw solid rgb(255, 255, 255);
    border-radius: 2vw;
    margin: 4vw 0;
}

h3{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: medium;
}
.bsolicitar{
    height: 5.5vh; 
    width: 60vw;
    background-color: #5e17eb;
    border-radius: 2vw;
    color: rgb(255, 255, 255);
    border: 0;
    font-size: 4vw;
    font-weight: 600;
    margin-top: 4vw;
}