<div class="father" >
    <div class="alert">
        <img src="/assets/yapeara-icon.svg" alt="">
        <h3 style="color: rgb(116, 34, 132);
        font-size: 4vw;
        font-weight: 500;">Vas a yapear a</h3>
        <h3  style="color: rgb(116, 34, 132);
        font-size: 5vw;
        font-weight: 600;">{{nombre}}</h3>
        <div class="datos">
            <div>
                <h3>Monto</h3>
                <h3 style="color: rgb(0, 0, 0);
                font-weight: 600;">S/ {{ monto }}</h3>
            </div>
            <div>
                <h3>Destino</h3>
                <h3 style="color: rgb(0, 0, 0);
                font-weight: 600;">Plin</h3>
            </div>
        </div>
        <div (click)="yapeoComponente()" class="btn" style="font-weight: 500;
        color: rgb(255,255,255);
        background-color: rgb(36,192,181);
        border: 0.5vw solid rgb(36,192,181);">Confirmar Yapeo</div> 
        <div class="btn">Cancelar</div>
    </div>
</div>