<div class="bienvenida-box">
    <div 
    class="opciones-top flex flex-column align-items-center justify-content-between">
        <div (click)="home()"></div>
        <div class="flex flex-column pb-2">
            <span
            style="font-size: 7vw;
            font-weight: 600">OPCIONES</span>
        <span
            style="font-size: 4vw;">ELIGE UNA DE LAS SIGUIENTES OPCIONES</span>
        </div>
    </div>
    <div class="content-box flex flex-column justify-content-start align-items-center">
        <div style="width: 85%" class="mt-3 flex flex-column justify-content-start align-items-center">
            <div class="bar"></div>
            <div *ngFor="let opcion of opciones" class="box mor flex align-items-center justify-content-center" (click)="irOpcion(opcion.ruta)">
                <div style="background-image: url(/assets/iconicsnew/cuenta-{{opcion.img}}.svg);"></div>
                <span>{{ opcion.titulo }}</span>
            </div>
            <span style="width: 100%; font-size: 4.5vw; padding: 4vw 0 2vw 0; display: block;">Otras opciones</span>
            <div *ngFor="let otro of otros" class="box cel flex align-items-center justify-content-center" (click)="irEnlace(otro.enlace)">
                <div style="background-image: url(/assets/iconicsnew/cuenta-{{otro.img}}.svg);"></div>
                <span>{{ otro.titulo }}</span>
            </div>
        </div>
    </div>
</div>