.bienvenida-box{
    background-image: url(/assets/iconicsnew/fondo-total.jpg);
    height: 100vh;
    width: 100vw;
}
.opciones-top{
    height: 24vh;
    background-image: url(/assets/iconicsnew/opciones-fondo.png);
    background-color: transparent;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.opciones-top div:nth-of-type(1){
    height: 7vh;
    width: 90%;
    background-image: url(/assets/iconicsnew/atras-cuenta.svg);
    background-color: transparent;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.opciones-top span{
    width: 80%;
    text-align: left;
    color: #fff;
}
.content-box{
    border-radius: 6vw 6vw 0 0;
    background-color: #fff;
    height: calc(100vh - 24vh);
}
.bar{
    width: 50vw;
    height: 2vw;
    background-color: #000;
    border-radius: 3vw;
    margin-bottom: 2vw;
}
.box{
    width: 100%;
    height: 6vh;
    margin-top: 1.5vh;
    box-shadow: 0vw 0.2vw 0.5vw 0.1vw #d8d8d8;
    border-radius: 10vw;
}
.cel{
    background-color: #00b8ff;
}
.cel div{
    border: .5vw solid #00b8ff;
}
.mor{
    background-color: #5e17eb;
}
.mor div{
    border: .5vw solid #5e17eb;
}
.box div{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background-color: #fff;
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
}
.box span{
    width: calc(100% - 6vh);
    font-size: 2vh;
    font-weight: 600;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}