/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeflex/primeflex.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
  --theme-color: #742284;
}


* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--theme-color);
  user-select: none;
}
html {
  zoom: 100%;
}
