
// .noti{
//     width: 100vw;
//     background-color: transparent;
//     position: absolute;
//     top: 0;
//     display: flex;
//     justify-content: center;
// }
// .noti {
//     top: -200px;
//     transition: top 0.4s ease-in-out;
// }
// .noti.visible {
//     top: 0;
// }
.noti {
    position: absolute;
    top: -200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 9999;
    transition: top 0.4s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
  }
  
  .noti.visible {
    top: 0;
    opacity: 1;
  }
  
  .noti:not(.visible) {
    pointer-events: none;
  }
.noti >div{
    width: 90%;
    background-color: #fff;
    border-radius: 5vw;
    padding: 4vw;
    margin-top: 4vw;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgyape{
    width: 8vw;
    height: 8vw;
    background-color: #c86dd4;
    background-image: url(/assets/LogoYape.svg);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.expandir{
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    /* background-color: #00000023; */
    background-color: #fff;
    background-image: url('/assets/iconicsnew/atras-cuenta.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    transform: rotate(-90deg);
}
.expandir.expandido{
    transform: rotate(90deg);
}
.titulo span{
    font-size: 3.5vw;
    margin-left: 2vw;
    width: calc(100% - 8vw - 8vw - 2vw);
}
.detalle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2vw;
    margin-left: 10vw;
}
.detalle span:nth-of-type(1){
    font-size: 4.2vw;
    font-weight: 600;
}
.detalle span:nth-of-type(2){
    margin-top: 1vw;
    font-size: 3.8vw;
    /* white-space: nowrap; */
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.detalle span:nth-of-type(2).expandido{
    white-space: normal
}